*{margin:0; padding:0;}
.MenuStyle{
  width:100%;
  height:100%;
background: pink; color: white;

}
.MenuStyle ul{
  height:100px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.MenuStyle ul  li{
  list-style:none;
  text-transform: uppercase;
  color:white;

}